.venv
catboost_info/
logs/
__pycache__
notebook/
test.py 
.git
.gitignore
dvc.lock
**/.git
**/.gitignore
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.env
**/.venv
**/env
**/venv
**/.pytest_cache
**/.vscode
**/logs
src/components/
src/Pipeline/
.env
important advice.txt
