catboost==1.2.10
fastapi==0.139.2
joblib==1.5.3
lightgbm==4.6.0
numpy==2.5.1
optuna==4.9.0
pandas==3.0.3
pydantic==2.13.4
python-dotenv==1.2.2
python_box==7.4.1
PyYAML==6.0.3
Requests==2.34.2
scikit_learn==1.9.0
setuptools==80.9.0
streamlit==1.55.0
xgboost==3.3.0
